<h2>Dezeer</h2>
<br>
<div class="container">
  <div class="row">
    <div class="col col-md-3 col-sm-12 col-xs-12">
      <img [src]="albums.artist.picture" />
      <a [routerLink]="">
        <span>{{albums.artist.name}}</span> </a>
    </div>

    <div class="col-md-1"></div>
    <div class="col col-md-3 col-sm-12 col-xs-12">
      <img [src]="albums.artist.picture" />
      <a [routerLink]="">
        <span>{{albums.artist.name}}</span> </a>

    </div>

    <div class="col-md-1"></div>
    <div class="col col-md-3 col-sm-12 col-xs-12">
      <img [src]="albums.artist.picture" />
      <a [routerLink]="">
        <span>{{albums.artist.name}}</span> </a>
    </div>

  </div>
</div>
